
#include "resource.h"
#include "afxres.h"
//Icon location
IDI_ICON  ICON DISCARDABLE "findDifference.ico"

IDI_MENU MENU DISCARDABLE
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New game",       IDI_NEW
        MENUITEM "&Exit",           IDI_EXIT
    END
END

BitmapFile BITMAP Cat1.bmp
BitmapFile1 BITMAP Cat2.bmp


